/**********************************************************************
RESET
**********************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6,
ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr,
button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite,
code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt,
var, legend, fieldset {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
  display: block;
}
*:focus {
  outline: none;
} 

html {
    min-height: 100%;
}

body {
   width: 100%;
   background-color: #aaa
}

/**********************************************************************/

#wrapper {
    position: relative;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 15px 15px 5px #333;
    border-top: 7px dotted #ff5;
    border-left: 7px dashed #f00;
    border-right: 7px solid #0f0;
    border-bottom: 7px double #00f;
    background-color: #eee;
}

h1 {
    text-align: center;
    margin: 25px auto;
}

.shadow {
    
    text-shadow: 5px 5px 5px #aaa;
}

#blue {
    margin: 25px auto;
    width: 90%;
    border: 2px solid blue;
    border-radius: 50px;
}

#green {
    border: 2px solid green;
    border-radius: 50px;
}

#yellow {
    border: 2px solid yellow;
    border-radius: 50px;
}

#red {
    border: 2px solid red;
    border-radius: 50px;
    font-family: Arial;
    font-size: 0.6em;
    font-weight: normal;
    text-shadow: none;
    padding: 15px 0;
}

.button {
    width: 30%;
    font-size: 0.8em;
    background-color: #D8941A;
    padding: 3px 5px;
    margin-bottom: 5px !important;
    border-bottom: 3px solid #81580F;
    border-right: 3px solid #81580F;
    border-top: 3px solid #e3b45e;
    border-left: 3px solid #e3b45e;
}

#inner p {
    margin-bottom: 15px;
}

.floating {
    position: absolute;
    background-color: #999;
    border: 2px dashed white;
    box-shadow: 0 0 0 3pt #999;
    opacity: 0.8;
}

.circle {
    border-radius: 50%;
}

#small {
    top: 130px;
    left: 380px;
    width: 15px;
    height: 15px;

}

#medium {
    top: 90px;
    left: 410px;
    width: 30px;
    height: 30px;
}

#big {
    top: 40px;
    left: 470px;
    width: 90px;
    height: 45px;
    border-radius: 30px;
    font-family: Arial;
    font-size: 14pt;
    color: white;
}