/**********************************************************************
RESET
**********************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6,
ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr,
button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite,
code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt,
var, legend, fieldset {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
  display: block;
}
*:focus {
  outline: none;
} 

html {
    width: 100%;
}

button {
    margin: 0;
    width: 75px;
    height: 75px;
    font-size: 16pt, Arial;
}

#wrapper {
    width: 350px;
    height: 425px;
    margin: 0 auto;
}

#display {
    width: 350px;
    height: 50px;
    border: 3pt solid black;
}